name: Release plugin
on:
  push:
      branches:
        - main
        - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Build with Gradle and shadowJar
        run: ./gradlew shadowJar

      - name: Upload JAR Artifact
        uses: softprops/action-gh-release@v2
        with:
          tag_name: nightly
          name: Latest Build
          files: build/libs/*.jar
          draft: false
          prerelease: false
          make_latest: true